body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 100px;
    height: 100px;
    background-color: blue;
}




/* 2) ახსენით რაში გვეხმარება პოზიციეები და რას შვება static,relative,absolute პოზიციები და დაწერეთ თითო მაგალითი მათზე  */

/* css ში პოზიციები გვეხმარება ელემენტის ადგილმდებარეობის კონტროლში.  */

/* position: static - ამაზე top,left,right არ მუშაობს მაგრამ შეუძლია ჩვეულებრივად განლაგება ელემენტების. მაგ: */

div {
    position: static;
}


/* position: relative - ამის ელემენტი თავდაპირველ ადგილას რჩება მაგრამ ჩვენ შეგვიძლია ის ვამოძრაოთ top,left,right და bottom ით. მაგ: */

div {
    position: relative;
    left: 50px;
    right: 40px;
}


/* position: absolute - ელემენტი გამოდის ჩვეულებრივი დოკუმენტის განლაგებიდან და შგვიძლია მისი მდებარეობა რომ ზუსტად განვზასღვროთ. მაგ: */

div {
    position: absolute;
    top: 30px;
    right: 20px;
}




/* 3) ახსენით რაში გვეხმარება პოზიციეები და რას შვება fixed,sticky პოზიციები და დაწერეთ თითო მაგალითი მათზე */

/* css ში პოზიციები გვეხმარება ელემენტის ადგილმდებარეობის კონტროლში.  */
/* position: fixed - შეუძლია რომ ელემენტი გაყინოს და ეკრანზე დარჩეს ზუსტად იმავე პოზიციაში მაშინაც კი როდესაც გვერდს ჩამოსქროლავ. მაგ: */

/* div {
    position: fixed;
    top: 20px
    right: 20px;
    background-color: black;
} */

/* position: sticky - არის ისეთი თისება რომელიც relative და fixed ის ნარევით მუშაობს. ჯერ ელემენტი თავდაპირველად ჩეულებრივ 
relative პოზიციის მსგავსად დოკუმენტის ნაკადში რჩება მაგრამ როდესაც მომხმარებელი გვერდს ასქროლავს და ელემენტი მიაღწევს მითითებულ ზღვარს
ის მიეწებებ ეკრანს და ადგილზე დარჩება. მაგ: */

/* div {
    position: sticky;
    top: 0;
} */
