@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');




p {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: italic;
    color: aqua;
    background-color: black;
}