/*1. Content არის ის ადგილი სადაც მოთავსებულია ტექსტი, სურათი ან სხვა შიგთავსი ხოლო
მისი ზომა განისაზღვრება width და height თვისებებით. */

/* მაგალითი: */

div {
    width: 300px;
}

/*2. Padding არის სივრცე Content-სა და Border-ს შორის. */

/* მაგალითი: */

div {
    padding: 20px;
}


/*3. Border არის ჩარჩო, რომელიც აკრავს Content-ს და Padding-ს. */

/* მაგალითი: */

div {
    border: 2px solid black;
}


/*4. Margin არის სივრცე ელემენტსა და სხვა ელემენტებს შორის. */

/* მაგალითი: */

div {
    margin: 30px;
}

