#Fortext {
    color: blue;
    background-color: aliceblue;
}

.text {
    color: antiquewhite;
    background-color: black;
}

p {
    color: blue;

}


/* cssში თუ ერთსა და იმავე ელემენტზე რამდენიმე სელექტორი მოწმედებს, მაშინ გამოიყენება უფრო მაღალი პრიორიტეტის მქონე 
სელექტორი. ის იწყება ასე:
1. inline
2. ID
3. Class
4. Tag
თუ მაგალითად პ თეგს გავუწერეთ ამ ოთივე სელექტორს ის გამოიტანს ყველაზე მაღლი პრიორიტეტის მქონდე სელექტორს, ანუ თუ inline-ს გავსტილავთ და
წითელ ფერს გავუწერთ, ის გამოვა წითელი ფერის თუმცა თუ inline სელექტორი არ გვაქვს მაშინ id-ში რა ფერის არის მინიჭებული იმ ფერს გამოიტანს და ასე მოხდება 
ყველა სელექტორებზე  */