#tt:hover{
    color: blue;
    text-decoration: none;
    font-size: xx-large;
}

#yt:Active{
    color: aqua;
}

#insta:visited{
    color: green;
    font-size: x-large;
}

#chess:link{
    color: purple;
    font-size: xx-small;
}

